.newsItem {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.newsItem img {
    width: 200px;
    margin-right: 10px;
}

.newsItemContainer p {
    color: #333;
} 