.account {
    width: 80%;
    margin: 0 auto;
}

.accountSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.accountInfo,
.accountBenefit {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.accountServices {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.accountBenefit {
    padding: 10px;
}

.accountBenefit p {
    color: #333;
}

.accountInfo span {
    height: 1px;
    width: 70%;
    margin: 0 auto;
    background-color:lightgray;
}

.accountServices span {
    height: 100px;
    width: 1px;
    margin: 0 auto;
    background-color:lightgray;
}

.accountInfoGroup {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.accountInfoGroup img {
    width: 100px;
    margin-right: 10px;
}

.accountInfoGroup p,
.accountServicesGroup p {
    color: #333;
}

.accountInfoGroup:first-child {
    justify-content: flex-start;
    align-items: center;
}

.accountServicesGroup {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.accountServicesGroup i:last-child {
    color: #333;
}

.accountServicesGroup i:first-child {
    font-size: 30px;
}

#notification {
    position: absolute;
    top: 0;
}



@media screen and (min-width: 414px) and (max-width: 767px) {
    .account {
        width: 95%;
        margin: 0 auto;
    }

    .accountInfoGroup {
        width: 95%;
    }
}

@media screen and (min-width: 414px) and (max-width: 1024px) {
    .accountSection {
        flex-direction: column;
    }

    .accountInfo {
        width: 100%;
        margin-bottom: 20px;
    }

    .accountServices {
        display: flex;
        flex-direction: column;
    }

    .accountServices span {
        height: 1px;
        width: 70%;
        margin: 0 auto;
        background-color:lightgray;
    }

    .accountServicesGroup {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .accountBenefit {
        width: 100%;
    }
}